/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family), sans-serif;
  font-weight: var(--font-family-wgth, 400);
  font-variation-settings: 'wght' var(--font-family-wgth, 400);
  color: var(--theme-main-color, #000);
  background-color: var(--theme-background-color, #fff);
  background-image:
    repeating-linear-gradient(90deg, var(--theme-background-gradient-line-color, #d3d3d3) 0px, var(--theme-background-gradient-line-color, #d3d3d3) 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(180deg, var(--theme-background-gradient-line-color, #d3d3d3) 0px, var(--theme-background-gradient-line-color, #d3d3d3) 2px, transparent 2px, transparent 4px),
    linear-gradient(180deg, var(--theme-background-gradient-start-color, #e7e7e7) 0%, var(--theme-background-gradient-end-color, #1a1a1a) 100%)
  ;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  min-inline-size: 320px;
  max-inline-size: 700px;
  margin: 0 auto;
  inline-size: 100%;
}

.header {
  border: 2px solid var(--theme-main-color, #000);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: clamp(7.5rem, 6.3462rem + 4.9231vw, 8.5rem) 0 25px;
  margin: clamp(6.25rem, 6.1058rem + 0.6154vw, 6.375rem) auto;
  background-color: var(--theme-background-color, #000);
}

.header__logo-text {
  text-transform: uppercase;
  font-family: var(--accent-font-family), sans-serif;
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  font-weight: 400;
  line-height: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
}

.header__title {
  text-transform: uppercase;
  font-family: var(--accent-font-family), sans-serif;
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  font-weight: 400;
  line-height: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  text-align: left;
  margin-block-start: 20px;
}

.header__theme-menu {
  margin-block-start: 25px;
}

.theme-menu__button {
  font-family: var(--accent-font-family), sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  background-color: transparent;
  /*border: none;*/
}

.theme-menu__item:has(:disabled) .theme-menu__button:before {
  content: '▶';
}

