/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
.page {
  container-type: inline-size;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family), sans-serif;
  font-weight: var(--font-family-wgth, 400);
  font-size: 18px;
  font-variation-settings: 'wght' var(--font-family-wgth, 400);
  color: var(--theme-main-color, #000);
  background-color: var(--theme-background-color, #fff);
  background-image:
    repeating-linear-gradient(90deg, var(--theme-background-gradient-line-color, #d3d3d3) 0px, var(--theme-background-gradient-line-color, #d3d3d3) 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(180deg, var(--theme-background-gradient-line-color, #d3d3d3) 0px, var(--theme-background-gradient-line-color, #d3d3d3) 2px, transparent 2px, transparent 4px),
    linear-gradient(180deg, var(--theme-background-gradient-start-color, #e7e7e7) 0%, var(--theme-background-gradient-end-color, #1a1a1a) 100%)
  ;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  min-inline-size: 320px;
  max-inline-size: 700px;
  margin: 0 auto;
  inline-size: 100%;
}

.header {
  border: 2px solid var(--theme-main-color, #000);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: clamp(7.5rem, 6.3462rem + 4.9231vw, 8.5rem) 0 25px;
  margin: clamp(6.25rem, 6.1058rem + 0.6154vw, 6.375rem) auto;
  background-color: var(--theme-background-color, #000);
  inline-size: 100%;
}

.header__logo-text {
  text-transform: uppercase;
  font-family: var(--accent-font-family), sans-serif;
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  font-weight: 400;
  line-height: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
}

.header__title {
  text-transform: uppercase;
  font-family: var(--accent-font-family), sans-serif;
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  font-weight: 400;
  line-height: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  margin-block-start: 20px;
}

.header__theme-menu {
  margin-block-start: 25px;
}

.theme-menu__button {
  text-transform: uppercase;
  font-family: var(--accent-font-family), sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  background-color: transparent;
  border: none;
  position: relative;
  padding: 0;
  transition: opacity 0.3s ease;
}

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:disabled:before {
  content: '▶';
  position: absolute;
  inset-inline-start: clamp(-1.1875rem, 1.1154rem + 0.3077vw, -1.25rem);
  animation: arrow-movement 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:after {
  content: '';
  display: block;
  border-block-end: 2px solid currentColor;
  inline-size: inherit;
  transform: scaleX(0);
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform-origin: 0 100%;
  opacity: 1;
}

.theme-menu__button:focus-visible:after {
  transform: scaleX(1);
  opacity: 0.6;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: 100%;
  gap: 50px;
}

.cards-list {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--theme-main-color, #000);
  background-color: var(--theme-background-color, #fff);
}

.card__title {
  font-size: 18px;
  font-weight: var(--font-family-wgth-bold, 700);
  font-variation-settings: 'wght' var(--font-family-wgth-bold, 700);
  line-height: 21.78px;
  padding:
    clamp(0.21875rem, 0.2548rem + -0.1538vw, 0.1875rem)
    clamp(0.625rem, -0.3846rem + 4.3077vw, 1.5rem)
    clamp(0.34375rem, 0.524rem + -0.7692vw, 0.1875rem)
    10px
  ;
}

.card__image {
  position: relative;
  margin: 0;
}

.card__image-picture img {
  inline-size: 100%;
  min-block-size: clamp(23.1875rem, -0.25rem + 100vw, 43.5rem);
  object-position: center;
  object-fit: cover;
  border-block-start: 2px solid var(--theme-main-color, #000);
  border-block-end: 2px solid var(--theme-main-color, #000);
}

.card__image-tag {
  text-transform: uppercase;
  font-family: var(--accent-font-family), sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  position: absolute;
  inset-block-start: clamp(1.4375rem, 1.2933rem + 0.6154vw, 1.5625rem);
  inset-inline-end: clamp(0.6875rem, -0.3221rem + 4.3077vw, 1.5625rem);
  text-shadow:
    -1px 0 var(--theme-background-color, #fff),
    0 1px var(--theme-background-color, #fff),
    1px 0 var(--theme-background-color, #fff),
    0 -1px var(--theme-background-color, #fff);
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

@supports(-webkit-text-stroke: 0.5px #fff) {
  .card__image-tag {
    text-shadow: none;
    -webkit-text-stroke: 0.5px var(--theme-background-color, #fff);
  }
}

.card__description {
  display: flex;
  flex-direction: column;
  padding: 25px 25px 0 25px;
  gap: 27px;
}

.card__buttons {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: end;
  align-items: center;
  padding: 25px;
}

.button {
  padding: 0;
  font-family: var(--accent-font-family), sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 12.6px;
  border: 2px solid var(--theme-main-color, #000);
  background-color: var(--theme-background-color, #fff);
  transition: box-shadow 0.3s ease;
  position: relative;
}

.button:after {
  content: '';
  position: absolute;
  display: block;
  inline-size: 100%;
  block-size: calc(100% + 1px);
  background-color: var(--theme-main-color, #000);
  inset-inline-start: 0;
  inset-block-start: 0;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: 0 100%;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--theme-main-color, #000);
}

.button:hover {
  cursor: pointer;
}

.button:hover:after {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--theme-button-color, #fff);
}

.card__icon-button {
  padding: 0;
  background-color: transparent;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--theme-main-color, #000);
}

.card__icon-button:hover {
  cursor: pointer;
}

.like-icon {

}

.heart {

}

.contour {
  fill: var(--heart-contur-color, #000);
}

.main-body {
  fill: var(--heart-main-body-color, #000);
  transition: fill 0.3s ease;
}

.card__icon-button:hover .main-body {
  --heart-main-body-color: var(--heart-color-hover, #000);
  transition: fill 0.3s ease 0.05s;
}

.card__icon-button:active .main-body {
  --heart-main-body-color: var(--heart-color-active, #000);
  transition: fill 0.3s ease 0.05s;
}

.core {
  fill: var(--heart-core-color, #000);
  transition: fill 0.3s ease 0.03s;
}

.card__icon-button:hover .core {
  --heart-core-color: var(--heart-color-hover, #000);
  transition: fill 0.3s ease;
}

.card__icon-button:active .core {
  --heart-core-color: var(--heart-color-active, #ff0000);
  transition: fill 0.3s ease;
}

.sparks {
  fill: var(--heart-sparks-color, #ff0000);
  opacity: 0;
}

.card__like-button {
  padding: 12.5px 37px;
}

.save-button {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  padding: 15px 19px;
  margin-block-end: clamp(6.25rem, 6.0337rem + 0.9231vw, 6.4375rem);
}

.save-button__image {
  inline-size: 21px;
  block-size: 21px;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--theme-button-color, #fff);
}

@container (inline-size <= 375px) {
  .save-button {
    flex-direction: column;
  }
}
