.page {
  container-type: inline-size;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family), sans-serif;
  font-weight: var(--font-family-wgth, 400);
  font-size: 18px;
  font-variation-settings: 'wght' var(--font-family-wgth, 400);
  color: var(--theme-main-color, #000);
  background-color: var(--theme-background-color, #fff);
  background-image:
    repeating-linear-gradient(90deg, var(--theme-background-gradient-line-color, #d3d3d3) 0px, var(--theme-background-gradient-line-color, #d3d3d3) 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(180deg, var(--theme-background-gradient-line-color, #d3d3d3) 0px, var(--theme-background-gradient-line-color, #d3d3d3) 2px, transparent 2px, transparent 4px),
    linear-gradient(180deg, var(--theme-background-gradient-start-color, #e7e7e7) 0%, var(--theme-background-gradient-end-color, #1a1a1a) 100%)
  ;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  min-inline-size: 320px;
  max-inline-size: 700px;
  margin: 0 auto;
  inline-size: 100%;
}

.header {
  border: 2px solid var(--theme-main-color, #000);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: clamp(7.5rem, 6.3462rem + 4.9231vw, 8.5rem) 0 23px;
  margin: 100px auto;
  background-color: var(--theme-background-color, #fff);
  inline-size: 100%;
}

.header__logo-text {
  text-transform: uppercase;
  font-family: var(--accent-font-family), sans-serif;
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  font-weight: 400;
  line-height: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
}

.header__title {
  text-transform: uppercase;
  font-family: var(--accent-font-family), sans-serif;
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  font-weight: 400;
  line-height: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  margin-block-start: 20px;
}

.header__theme-menu {
  margin-block-start: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-inline-start: 18px;
}

.theme-menu__item {
  line-height: 14px;
}

.theme-menu__button {
  text-transform: uppercase;
  font-family: var(--accent-font-family), sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: transparent;
  border: none;
  position: relative;
  padding: 0;
  transition: opacity 0.3s ease;
}

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:disabled:before {
  content: '▶';
  position: absolute;
  inset-inline-start: clamp(-1.1875rem, 1.1154rem + 0.3077vw, -1.25rem);
  animation: arrow-movement 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:after {
  content: '';
  display: block;
  border-block-end: 2px solid currentColor;
  inline-size: inherit;
  transform: scaleX(0);
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform-origin: 0 100%;
  opacity: 1;
}

.theme-menu__button:focus-visible:after {
  transform: scaleX(1);
  opacity: 0.6;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: 100%;
  gap: 50px;
}

.cards-list {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--theme-main-color, #000);
  background-color: var(--theme-background-color, #fff);
}

.card__title {
  font-size: 18px;
  font-weight: var(--font-family-wgth-bold, 700);
  font-variation-settings: 'wght' var(--font-family-wgth-bold, 700);
  line-height: 21.78px;
  min-block-size: 31px;
  padding:
    clamp(0.1875rem, 0.3221rem + -0.3077vw, 0.25rem)
    clamp(0.625rem, -0.3846rem + 4.3077vw, 1.5rem)
    clamp(0.1875rem, 0.5913rem + -0.9231vw, 0.375rem)
    10px
  ;
}

.card__image {
  position: relative;
  margin: 0;
  display: block;
  min-block-size: clamp(23.4375rem, 0rem + 100vw, 43.75rem);
  max-block-size: clamp(23.4375rem, 0rem + 100vw, 43.75rem);
  border-block-start: 2px solid var(--theme-main-color, #000);
  border-block-end: 2px solid var(--theme-main-color, #000);
}

.card__image-picture img {
  inline-size: 100%;
  block-size: inherit;
  object-position: center;
  object-fit: cover;
}

.card__image-tag {
  text-transform: uppercase;
  font-family: var(--accent-font-family), sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  position: absolute;
  inset-block-start: clamp(1.4375rem, 1.2933rem + 0.6154vw, 1.5625rem);
  inset-inline-end: clamp(0.6875rem, -0.3221rem + 4.3077vw, 1.5625rem);
  text-shadow:
    -1px 0 var(--theme-background-color, #fff),
    0 1px var(--theme-background-color, #fff),
    1px 0 var(--theme-background-color, #fff),
    0 -1px var(--theme-background-color, #fff);
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

@supports(-webkit-text-stroke: 0.5px #fff) {
  .card__image-tag {
    text-shadow: none;
    -webkit-text-stroke: 0.5px var(--theme-background-color, #fff);
  }
}

.card__description {
  display: flex;
  flex-direction: column;
  padding: 25px 25px 0 25px;
  gap: 27px;
}

.card__description p {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.card__buttons {
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: end;
  align-items: center;
  padding: 25px;
}

.button {
  padding: 0;
  font-family: var(--accent-font-family), sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 13px;
  border: 2px solid var(--theme-main-color, #000);
  background-color: var(--theme-background-color, #fff);
  transition: box-shadow 0.3s ease;
  position: relative;
}

.button:after {
  content: '';
  position: absolute;
  display: block;
  inline-size: 100%;
  block-size: calc(100% + 1px);
  background-color: var(--theme-main-color, #000);
  inset-inline-start: 0;
  inset-block-start: 0;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: 0 100%;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--theme-main-color, #000);
}

.button:hover {
  cursor: pointer;
}

.button:hover:after {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--theme-button-color, #fff);
}

.card__icon-button {
  display: flex;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--theme-main-color, #000);
}

.card__icon-button:hover {
  cursor: pointer;
}

.like-icon {
  overflow: visible;
}

.contour {
  fill: var(--heart-contur-color, #000);
  transition: fill 0.1s linear;
}

.main-body {
  fill: var(--heart-main-body-color, #000);
  transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body {
  --heart-main-body-color: var(--heart-color-hover, #000);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:active .main-body {
  --heart-main-body-color: var(--heart-color-active, #000);
  transition: fill 0.3s linear 0.05s;
}

.core {
  fill: var(--heart-core-color, #000);
  transition: fill 0.3s linear 0.03s;
}

.card__icon-button:hover .core {
  --heart-core-color: var(--heart-color-hover, #000);
  transition: fill 0.3s linear;
}

.card__icon-button:active .core {
  --heart-core-color: var(--heart-color-active, #ff0000);
  transition: fill 0.3s linear;
}

.sparks {
  fill: var(--heart-sparks-color, #ff0000);
  opacity: 0;
}

.like-icon.is-liked .heart {
  animation: heart-scaling 0.3s ease-in 0.1s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-color-click, #ff0000);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-color-click, #ff0000);
  transition: fill 0.3s linear 0.03s;
}

.like-icon.is-liked .core {
  fill: var(--heart-color-click, #ff0000);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .sparks {
  animation: flash-of-sparks 0.3s linear 0.1s, heart-scaling 0.3s ease-in 0.1s;
}

.card__like-button {
  padding: 10.5px 0;
  min-inline-size: 130px;
}

.save-button {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  padding: 15px 19px;
  margin-block-end: clamp(6.25rem, 6.0337rem + 0.9231vw, 6.4375rem);
}

@container (inline-size <= 375px) {
  .save-button {
    flex-direction: column;
  }
}

.floppy {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--theme-button-color, #fff);
}

.save-button__image {
  inline-size: 21px;
  block-size: 21px;
}

.save-dialog {
  display: flex;
  flex-direction: column;
  background-color: var(--theme-background-color, #fff);
  border: 2px solid  var(--theme-main-color, #000);
  padding: 30px clamp(1.875rem, 3.2212rem + -3.0769vw, 2.5rem);
  inline-size: clamp(21.3125rem, 20.4471rem + 3.6923vw, 22.0625rem);
  max-inline-size: clamp(21.3125rem, 20.4471rem + 3.6923vw, 22.0625rem);
  gap: 30px;
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.save-dialog::backdrop {
  background-color: var(--backdrop-background-color, #000);
  opacity: 0.75;
}

.save-dialog__text-container {
  display: grid;
  grid-template-columns: 39px 1fr;
  align-items: center;
  gap: 20px;
}

.save-dialog__image {
  inline-size: 39px;
  block-size: 39px;
}

.save-dialog__text {
  font-family: var(--accent-font-family), sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--theme-main-color, #000);
  text-transform: uppercase;
}

.save-dialog__button {
  padding: 10.5px 0;
  inline-size: 100%;
  text-transform: uppercase;
}

.filter-brightness {
  filter: brightness(1.4);
}

.filter-blur {
  filter: blur(10px);
}

.filter-contrast {
  filter: contrast(150%);
}

.filter-invert {
  filter: invert(110%);
}

.filter-sepia {
  filter: sepia(50%);
}

.filter-saturate {
  filter: saturate(50%);
}

.filter-opacity {
  filter: opacity(50%);
}

.filter-combo {
  filter: contrast(150%) brightness(1.4);
}
