:root {
  --font-family: 'Inter-Variable';
  --font-family-wgth: 400;
  --font-family-wgth-bold: 700;
  --accent-font-family: 'Press Start 2P';
  --heart-contur-color: #000;
  --heart-main-body-color: transparent;
  --heart-core-color: transparent;
  --heart-sparks-color: #ff0000;
  --heart-color-hover: #000;
  --heart-color-active: #ff0000;
  --heart-color-click: #ff0000;

  --theme-main-color: #000;
  --theme-button-color: #fff;
  --theme-background-color: #fff;
  --theme-background-gradient-line-color: #d3d3d3;
  --theme-background-gradient-start-color: #e7e7e7;
  --theme-background-gradient-end-color: #1a1a1a;
}
